<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='password-logic.js') }}"></script>
	<script src="{{ url_for('static', filename='default-sockets.js') }}"></script>

	<!-- gets the clients from the server -->
	<script>
		window.socketReady
		.then(function(socket) {
			console.log('General socket functionallity defined. Defining per website listening/receiving functions');
			defineSocketFunction(socket);
		})
		.fail(function(error) {
			console.error('Some failure during defining socket functions');
		});
		function defineSocketFunction(socket) {
			// Request initial list when connected
			socket.on('connect', function() {
				console.log('This is the second definition of what to do at the event socket.on.connect. Seems like I can define in multiple places what to do and all of the code will get executed eventually');
				socket.emit('request_clients');
			});
			socket.on("connect_error", (error) => {
                  if (socket.active) {
                    // temporary failure, the socket will automatically try to reconnect
                  } else {
                    // the connection was denied by the server
                    // in that case, `socket.connect()` must be manually called in order to reconnect
                    console.log(error.message);
                  }
                });

			// Handle list updates from server
			socket.on('update_clients', function(clients) {
				const container = $('#active-clients');
				container.empty();  // Clear current list

				// Create a new list
				const list = $('<ul>');
				clients.forEach(function(client) {
					list.append($('<li>').text(client));
				});

				container.append(list);
			});
		}


	</script>
</head>
<body>
	<div id="socketio-status">
	</div>
	<div id="set-seconds">
	</div>
	<div id="active-clients">
	</div>
	<div id="disconnected-clients">
	</div>

</body>
</html>
