<!DOCTYPE HTML>
<html>
<head>
    <title>ClientView</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='password-logic.js') }}"></script>
	<script src="{{ url_for('static', filename='default-sockets.js') }}"></script>
	<script src="{{ url_for('static', filename='live-screen-stream.js') }}"></script>
</head>
<body>
    <h1>Streaming image via SocketIO</h1>
    <div id="last_image"> </div>
</body>
</html>