<!DOCTYPE HTML>
<html>
<head>
    <title>ClientView</title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='password-logic.js') }}"></script>
	<script src="{{ url_for('static', filename='default-sockets.js') }}"></script>
	<script src="{{ url_for('static', filename='live-screen-stream.js') }}"></script>
	<script src="{{ url_for('static', filename='execute.js') }}"></script>

    <script>
		window.socketReady
		.then(function(socket) {
			console.log('General socket functionallity defined. Defining per website listening/receiving functions');
			defineSocketFunction(socket);
		})
		.fail(function(error) {
			console.error('Some failure during defining socket functions');
		});

		function defineSocketFunction(socket) {
			// Request initial list when connected
			socket.on('connect', function() {
				console.log('This is the second definition of what to do at the event socket.on.connect. Seems like I can define in multiple places what to do and all of the code will get executed eventually');
				socket.emit('request_clients');
			});

		}

	</script>
</head>
<body>
    <h1>Streaming image via SocketIO</h1>
	<div id="socketio-status"></div>
	<button id="toggle-btn">Start Livestream</button>
    <div id="last_image"> </div>
	<div id="command_div"><input type="text" id="command_content" placeholder="ping 1.1.1.1"> </div>
	<button id="execute-btn">Execute Command</button>
	<div id="command_output"></div>
</body>
</html>